In [1]:
# Import relevant packages
#Import Modules
import os
import numpy as np
import pandas as pd
import requests
import datetime as dt
import random
from Config import api_key
from Config2 import pwd
# BDay is business day
from pandas.tseries.offsets import BDay
import math
import time
import calendar
import re
from sqlalchemy import create_engine
import pymysql
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.orm import Session
import json

In [2]:
# setup pymysql and connect to local MySQL workbench
pymysql.install_as_MySQLdb() 
string = f"mysql://ucbx:{pwd}@stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com/stock_data"
engine = create_engine(string)
# Establish a connection to the local DB
conn = engine.connect()

In [3]:
stock = pd.read_sql('select distinct(symbol) from sandp_stocks;', con=conn)
stock_list = stock['symbol'].tolist()

In [77]:
stock_data_df = pd.read_sql('select * from stock_daily_adjusted;', con=conn)
stock_data_df.head()

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,206.4600,208.9700,206.0000,208.8600,208.8600,2000278,0.0000,1.0000
1,MMM,2019-02-14,206.5900,207.1200,204.0500,204.9300,204.9300,2229753,1.4400,1.0000
2,MMM,2019-02-13,207.0900,210.4000,206.5900,209.7200,208.2566,2967332,0.0000,1.0000
3,MMM,2019-02-12,202.8700,206.7900,202.1900,206.5700,205.1286,2622973,0.0000,1.0000
4,MMM,2019-02-11,200.9300,201.2000,199.6400,200.9100,199.5081,1513457,0.0000,1.0000

In [138]:
# function to clacualte year on year return for any given stock
# def yonycalc(curr_date):
#     curr_date = pd.to_datetime(curr_date)
#     filter1 = (merged_df['date'] == curr_date) 
#     merged_df2 = merged_df.loc[filter1]['close'].astype(float).reset_index(drop=True)
#     #print(curr_date)
#     #print(df2)
#     past_date = curr_date- pd.DateOffset(years=1)
#     filter2 = (merged_df['date'] == past_date)
#     merged_df3 = merged_df.loc[filter2]['close'].astype(float).reset_index(drop=True)
#     #print(past_date)
#     #print(df3)
#     if merged_df3.empty:
#         #print('holiday so taking pre buss day')
#         prev_buss_date = (past_date - BDay(1))
#         #print(prev_buss_date)
#         filter2 = (merged_df['date'] == prev_buss_date)
#         merged_df3 = merged_df.loc[filter2]['close'].astype(float).reset_index(drop=True)
#         #print(df3)
#         yonyperc = ((merged_df2 - merged_df3)/ merged_df3)*100
#         return yonyperc
#     #('data avoil for date 1 year from data point')
#     yonyperc = ((merged_df2 - merged_df3)/ merged_df3)*100
#     # print(yonyperc)
#     return yonyperc
# #merged_df['yony'] = merged_df['date'].apply(lambda x: yonycalc(x))
# #print(merged_df.head())
# #mean = merged_df['yony'].mean()
# #print(mean)

In [4]:
sandp_data = pd.read_sql('select * from sandp_stocks;', con=conn)
sandp_data.head()

,index,security,symbol,sec_filing,gics_sector,gics_sub_industry,hq_location,date_added,cik,year_founded
0,1,3M Company,MMM,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",None,0000066740,1902
1,2,Abbott Laboratories,ABT,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
2,3,AbbVie Inc.,ABBV,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
3,4,ABIOMED Inc,ABMD,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
4,5,Accenture plc,ACN,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [5]:
yony_df = pd.read_sql('select * from stock_yony_return;', con=conn)
yony_df.head()

,symbol,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,A,Health Care,15.771000,4.53647,33.3182,8.18207,5.997510,2.64363,27.07330,10.52040,...,1.84982,7.64638,31.46620,-16.80150,41.01220,-33.11240,-51.56240,-6.3490,75.9283,-13.73570
1,AAL,Industrials,10.129300,-36.16550,11.0262,16.98070,-29.029400,72.02740,61.83130,129.20600,...,-123.77800,50.39780,66.24650,9.00561,5.38855,2.74345,-10.99980,30.9324,-27.0723,7.98928
2,AAP,Consumer Discretionary,0.810537,40.77700,-44.4055,8.41586,0.105077,44.34630,37.78970,3.82257,...,10.28840,-18.03430,7.98991,-43.09600,48.63360,23.26550,23.07220,-38.5654,21.1951,61.96280
3,AAPL,FAANG,5.395140,-18.31130,30.5451,10.50850,-0.526463,-52.21290,7.36502,28.49430,...,87.50200,20.79570,28.23370,120.18800,39.61380,-38.12670,48.25670,-161.4980,99.0543,83.33080
4,ABBV,Health Care,-10.019100,-7.08376,38.1094,5.92385,-12.991400,31.50900,30.57710,16.38480,...,13.54800,23.54960,-16.12660,-2.14352,13.21310,-19.54870,8.34628,30.5325,-26.9407,32.05300

In [4]:
exclude_list =  ['FAANG','Real Estate','S&P']
sector_yony_df = pd.read_sql('select * FROM sector_yony_return where gics_sector NOT in ' + str(tuple(exclude_list)), con=conn)
sector_yony_df

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,7.87766,0.74590,7.61367,4.302350,-2.995310,11.37210,31.9746,16.99870,20.53840,...,6.25994,18.9770,-1.86271,6.49539,24.0070,-5.35051,9.93202,2.46721,48.73860,23.18040
1,Consumer Discretionary,9.68540,-7.28854,14.34450,2.795160,-0.593656,21.83870,32.6107,25.52650,19.38390,...,-3.53470,18.6325,8.47488,19.18560,35.1421,1.59639,33.03260,4.77016,13.12410,26.93180
2,Consumer Staples,6.22691,-4.63675,12.35900,6.130710,11.823100,23.31900,23.0162,11.99390,18.50500,...,6.42883,18.3947,5.61011,15.53520,17.1802,-3.15587,4.41627,12.97460,5.17016,21.41050
3,Energy,12.85080,-19.99410,-5.67751,38.187500,-20.362700,5.83469,28.0291,9.83997,22.42830,...,28.51950,13.5569,28.00780,27.25860,21.6415,2.37541,-2.94649,39.10540,11.58880,-6.65312
4,Financials,9.60112,-15.44580,13.57980,22.440300,-1.261130,17.18980,34.7911,19.86500,1.97369,...,-5.80896,17.3992,13.63420,12.98600,24.6306,-8.92688,2.48777,27.96580,11.36140,18.32760
5,Health Care,10.57420,2.31854,23.84630,-0.199208,8.759700,29.49270,31.0358,19.49920,20.05560,...,12.28760,19.2171,13.48970,12.96570,34.4944,-7.37044,10.78820,60.58910,16.87080,27.22710
6,Industrials,10.52230,-9.52331,21.08950,20.893900,-4.222460,21.97230,32.1266,22.25680,14.55020,...,11.41190,15.7180,7.67468,15.91190,29.5922,-1.26981,17.94560,15.99630,12.83930,10.00280
7,Information Technology,10.46830,-1.41778,30.19200,24.140800,2.302100,23.32270,30.8022,13.08320,9.88426,...,7.36344,17.1648,9.68379,6.28735,44.3979,-21.15310,30.17990,3.66239,67.63650,31.27300
8,Materials,8.22687,-16.16580,16.86130,25.056300,-6.657380,15.08940,20.8244,25.06320,7.91993,...,19.11170,21.7360,7.26458,16.38710,23.5616,4.45988,25.41340,-1.18721,4.83620,4.45334
9,Utilities,7.57377,12.06230,20.91040,19.948200,-2.501780,28.90680,15.0511,6.47621,23.67930,...,3.00252,17.5316,11.48240,18.95240,24.0555,-8.08209,-6.22895,40.32000,-17.07490,14.98970

In [5]:
# Ranking of sectors based on most consistent performance over last 20 years
# get list of years for which rankings are required
year_s = list(sector_yony_df.columns.values)
year_s = year_s[1:]
# define an empty rank dictionary
rank = {}
# for each year perform ranking
for year in year_s:
    # create a filter and sort by descending value of year on year returns
    mylist = ['gics_sector',year]
    temporary_df = sector_yony_df[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    # use rank function to perform ranking of the sorted data
    temporary_df['rank'] = temporary_df[year].rank(ascending=0)
    #print (temporary_df)
    # for each sector in the dataframe, add the ranking info to a dictionary
    for sector in temporary_df['gics_sector']:
        # Create a filter to filter out the dataframe for each sector
        filter1 = (temporary_df['gics_sector'] == sector)
        temporary_df2 = temporary_df.loc[filter1].reset_index(drop=True)
        # if sector is already in dictionary then add the current rank to previous rank
        if sector in rank: 
            rank[sector] = rank[sector] + temporary_df2['rank']
        # if sector is NOT already in dictionary then add the sector to the dictionary along with its current rank
        else:
            rank[sector] = temporary_df2['rank']
# convert the rank dictionary to a dataframe
rank_df = pd.DataFrame.from_dict(rank)
rank_df = rank_df.transpose()
# sort the dataframe by ascending order of rank
rank_df = rank_df.sort_values(by=[0],ascending=True)
rank_df

                            0
Health Care              87.0
Consumer Discretionary   94.0
Information Technology  110.0
Industrials             113.0
Energy                  127.0
Materials               127.0
Utilities               135.0
Financials              138.0
Communication Services  139.0
Consumer Staples        140.0

In [8]:
# pick the top 4 sectors
rank_df_top = rank_df.iloc[0:4,:]
#convert the top 4 sectors to a list
top4_sectors = rank_df_top.index.tolist()
top4_sectors.append('S&P')
print(top4_sectors)
rank_df_bottom =  rank_df.iloc[-4:]
bottom4_sectors = rank_df_bottom.index.tolist()
bottom4_sectors.append('S&P')
print(bottom4_sectors)

['Health Care', 'Consumer Discretionary', 'Information Technology', 'Industrials', 'S&P']
['Utilities', 'Financials', 'Communication Services', 'Consumer Staples', 'S&P']

In [9]:
sector_yony_df_top4 = pd.read_sql('select * FROM sector_yony_return where gics_sector in ' + str(tuple(top4_sectors)), con=conn)
sector_yony_df_top4

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Consumer Discretionary,9.6854,-7.28854,14.3445,2.795160,-0.593656,21.8387,32.6107,25.5265,19.38390,...,-3.53470,18.6325,8.47488,19.18560,35.1421,1.59639,33.0326,4.77016,13.1241,26.9318
1,Health Care,10.5742,2.31854,23.8463,-0.199208,8.759700,29.4927,31.0358,19.4992,20.05560,...,12.28760,19.2171,13.48970,12.96570,34.4944,-7.37044,10.7882,60.58910,16.8708,27.2271
2,Industrials,10.5223,-9.52331,21.0895,20.893900,-4.222460,21.9723,32.1266,22.2568,14.55020,...,11.41190,15.7180,7.67468,15.91190,29.5922,-1.26981,17.9456,15.99630,12.8393,10.0028
3,Information Technology,10.4683,-1.41778,30.1920,24.140800,2.302100,23.3227,30.8022,13.0832,9.88426,...,7.36344,17.1648,9.68379,6.28735,44.3979,-21.15310,30.1799,3.66239,67.6365,31.2730
4,S&P,10.0977,-4.66634,16.7856,14.923500,2.657080,19.9162,28.7373,18.2337,15.48080,...,9.83510,19.3560,15.09420,18.66590,33.2946,-3.71616,16.1749,16.82370,22.8833,21.8220

In [10]:
sector_yony_df_top4_dict = sector_yony_df_top4.to_dict(orient='split')
sector_yony_df_top4_dict

{'index': [0, 1, 2, 3, 4],
 'columns': ['gics_sector',
  '2019',
  '2018',
  '2017',
  '2016',
  '2015',
  '2014',
  '2013',
  '2012',
  '2011',
  '2010',
  '2009',
  '2008',
  '2007',
  '2006',
  '2005',
  '2004',
  '2003',
  '2002',
  '2001',
  '2000',
  '1999',
  '1998'],
 'data': [['Consumer Discretionary',
   9.6854,
   -7.28854,
   14.3445,
   2.79516,
   -0.593656,
   21.8387,
   32.6107,
   25.5265,
   19.3839,
   21.4122,
   54.8751,
   -30.9406,
   -3.5347,
   18.6325,
   8.47488,
   19.1856,
   35.1421,
   1.59639,
   33.0326,
   4.77016,
   13.1241,
   26.9318],
  ['Health Care',
   10.5742,
   2.31854,
   23.8463,
   -0.199208,
   8.7597,
   29.4927,
   31.0358,
   19.4992,
   20.0556,
   10.2451,
   38.7317,
   -22.8156,
   12.2876,
   19.2171,
   13.4897,
   12.9657,
   34.4944,
   -7.37044,
   10.7882,
   60.5891,
   16.8708,
   27.2271],
  ['Industrials',
   10.5223,
   -9.52331,
   21.0895,
   20.8939,
   -4.22246,
   21.9723,
   32.1266,
   22.2568,
   14.5502,
   18.6983,
   32.3148,
   -23.4958,
   11.4119,
   15.718,
   7.67468,
   15.9119,
   29.5922,
   -1.26981,
   17.9456,
   15.9963,
   12.8393,
   10.0028],
  ['Information Technology',
   10.4683,
   -1.41778,
   30.192,
   24.1408,
   2.3021,
   23.3227,
   30.8022,
   13.0832,
   9.88426,
   9.8408,
   50.3136,
   -38.3577,
   7.36344,
   17.1648,
   9.68379,
   6.28735,
   44.3979,
   -21.1531,
   30.1799,
   3.66239,
   67.6365,
   31.273],
  ['S&P',
   10.0977,
   -4.66634,
   16.7856,
   14.9235,
   2.65708,
   19.9162,
   28.7373,
   18.2337,
   15.4808,
   14.9922,
   43.6409,
   -26.7301,
   9.8351,
   19.356,
   15.0942,
   18.6659,
   33.2946,
   -3.71616,
   16.1749,
   16.8237,
   22.8833,
   21.822]]}

In [11]:
sector_yony_df_bot4 = pd.read_sql('select * FROM sector_yony_return where gics_sector in ' + str(tuple(bottom4_sectors)), con=conn)
sector_yony_df_bot4

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,7.87766,0.74590,7.61367,4.30235,-2.99531,11.3721,31.9746,16.99870,20.53840,...,6.25994,18.9770,-1.86271,6.49539,24.0070,-5.35051,9.93202,2.46721,48.73860,23.1804
1,Consumer Staples,6.22691,-4.63675,12.35900,6.13071,11.82310,23.3190,23.0162,11.99390,18.50500,...,6.42883,18.3947,5.61011,15.53520,17.1802,-3.15587,4.41627,12.97460,5.17016,21.4105
2,Financials,9.60112,-15.44580,13.57980,22.44030,-1.26113,17.1898,34.7911,19.86500,1.97369,...,-5.80896,17.3992,13.63420,12.98600,24.6306,-8.92688,2.48777,27.96580,11.36140,18.3276
3,S&P,10.09770,-4.66634,16.78560,14.92350,2.65708,19.9162,28.7373,18.23370,15.48080,...,9.83510,19.3560,15.09420,18.66590,33.2946,-3.71616,16.17490,16.82370,22.88330,21.8220
4,Utilities,7.57377,12.06230,20.91040,19.94820,-2.50178,28.9068,15.0511,6.47621,23.67930,...,3.00252,17.5316,11.48240,18.95240,24.0555,-8.08209,-6.22895,40.32000,-17.07490,14.9897

In [12]:
sector_yony_df_bot4_dict = sector_yony_df_bot4.to_dict(orient='split')
sector_yony_df_bot4_dict

{'index': [0, 1, 2, 3, 4],
 'columns': ['gics_sector',
  '2019',
  '2018',
  '2017',
  '2016',
  '2015',
  '2014',
  '2013',
  '2012',
  '2011',
  '2010',
  '2009',
  '2008',
  '2007',
  '2006',
  '2005',
  '2004',
  '2003',
  '2002',
  '2001',
  '2000',
  '1999',
  '1998'],
 'data': [['Communication Services',
   7.87766,
   0.7459,
   7.61367,
   4.30235,
   -2.99531,
   11.3721,
   31.9746,
   16.9987,
   20.5384,
   11.4261,
   39.8254,
   -36.2861,
   6.25994,
   18.977,
   -1.86271,
   6.49539,
   24.007,
   -5.35051,
   9.93202,
   2.46721,
   48.7386,
   23.1804],
  ['Consumer Staples',
   6.22691,
   -4.63675,
   12.359,
   6.13071,
   11.8231,
   23.319,
   23.0162,
   11.9939,
   18.505,
   10.2553,
   15.5305,
   -15.4075,
   6.42883,
   18.3947,
   5.61011,
   15.5352,
   17.1802,
   -3.15587,
   4.41627,
   12.9746,
   5.17016,
   21.4105],
  ['Financials',
   9.60112,
   -15.4458,
   13.5798,
   22.4403,
   -1.26113,
   17.1898,
   34.7911,
   19.865,
   1.97369,
   10.2067,
   48.2101,
   -41.4366,
   -5.80896,
   17.3992,
   13.6342,
   12.986,
   24.6306,
   -8.92688,
   2.48777,
   27.9658,
   11.3614,
   18.3276],
  ['S&P',
   10.0977,
   -4.66634,
   16.7856,
   14.9235,
   2.65708,
   19.9162,
   28.7373,
   18.2337,
   15.4808,
   14.9922,
   43.6409,
   -26.7301,
   9.8351,
   19.356,
   15.0942,
   18.6659,
   33.2946,
   -3.71616,
   16.1749,
   16.8237,
   22.8833,
   21.822],
  ['Utilities',
   7.57377,
   12.0623,
   20.9104,
   19.9482,
   -2.50178,
   28.9068,
   15.0511,
   6.47621,
   23.6793,
   2.74121,
   15.3698,
   -22.6564,
   3.00252,
   17.5316,
   11.4824,
   18.9524,
   24.0555,
   -8.08209,
   -6.22895,
   40.32,
   -17.0749,
   14.9897]]}

In [13]:
# create a filter to filter out all stocks that belong to the top 4 sectos
filter_value2 = (yony_df['gics_sector'] == top4_sectors[0])
sector_df = yony_df.loc[filter_value2].reset_index(drop=True)
sector_df.head()

NameError: name 'yony_df' is not defined

In [151]:
# Ranking of stocks from top 4 sectors based on most consistent performance over last 20 years
# define an empty stock rank dictionary
stock_rank = {}
# for each year perform ranking
for year in year_s:
    # create a filter and sort by descending value of year on year returns
    mylist = ['symbol',year]
    temporary_df3 = sector_df[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    # use rank function to perform ranking of the sorted data
    temporary_df3['rank'] = temporary_df3[year].rank(ascending=0)
    #print (temporary_df3)
    # for each stock in the dataframe, add the ranking info to a dictionary
    for symbol in temporary_df3['symbol']:
        # Create a filter to filter out the dataframe for each stock
        filter2 = (temporary_df3['symbol'] == symbol)
        temporary_df4 = temporary_df3.loc[filter2].reset_index(drop=True)
        # if stock is already in dictionary then add the current rank to previous rank
        if symbol in stock_rank: 
            stock_rank[symbol] = stock_rank[symbol] + temporary_df4['rank']
        # if stock is NOT already in dictionary then add the sector to the dictionary along with its current rank
        else:
            stock_rank[symbol] = temporary_df4['rank']

# convert the stock rank dictionary to a dataframe
stock_rank_df = pd.DataFrame.from_dict(stock_rank)
stock_rank_df = stock_rank_df.transpose()
# sort the dataframe by ascending order of rank
stock_rank_df = stock_rank_df.sort_values(by=[0],ascending=True)
stock_rank_df.head()

          0
ABMD  465.0
REGN  489.0
IDXX  493.0
ALGN  504.5
ILMN  521.0

In [152]:
# pick the top 4 sectors
stock_rank_df_top = stock_rank_df.iloc[0:4,:]
#convert the top 4 sectors to a list
top4_stocks = stock_rank_df_top.index.tolist()
print(top4_stocks)
stock_rank_df_bottom =  stock_rank_df.iloc[-4:]
bottom4_stocks = stock_rank_df_bottom.index.tolist()
print(bottom4_stocks)

['ABMD', 'REGN', 'IDXX', 'ALGN']
['JNJ', 'BMY', 'MRK', 'PFE']

In [153]:
# identify the gics_sub_industry for the top stock
# create a filter to filter out the data for the top stock from the s&P 500 dataframe
filter = (sandp_data['symbol']==top4_stocks[0])
top_stock_df = sandp_data.loc[filter]
#Fetch the gics_sub_industry for the top stock 
sub_industry = top_stock_df['gics_sub_industry'].tolist()
sub_industry1 = sub_industry[0]
print(sub_industry1)

Health Care Equipment

In [154]:
#define the site to fetch attributes for the top stock
site2 = f"https://finance.yahoo.com/quote/{top4_stocks[0]}"
print(site2)
#parse the site into pandas table
table = pd.read_html(site2)
df_yahoo1 = table[0]
df_yahoo2 = table[1]
df_yahoo1

https://finance.yahoo.com/quote/ABMD

                0                1
0  Previous Close           358.36
1            Open           359.47
2             Bid    351.70 x 1000
3             Ask    358.11 x 1400
4     Day's Range  351.77 - 360.88
5   52 Week Range  258.10 - 459.75
6          Volume           422926
7     Avg. Volume           535203

In [155]:
df_yahoo3 = df_yahoo1
# provide column names to the dataFrame (use the symbol and its value)
df_yahoo3.columns = ['Symbol', top4_stocks[0]]
# set the Symbol column as the index to the dataframe
df_yahoo3.set_index('Symbol', inplace=True)
# transpose dataframe to switch columns and rows
df_yahoo3 = df_yahoo1.transpose()
df_yahoo3

Symbol,Previous Close,Open,Bid,Ask,Day's Range,52 Week Range,Volume,Avg. Volume
ABMD,358.36,359.47,351.70 x 1000,358.11 x 1400,351.77 - 360.88,258.10 - 459.75,422926,535203

In [156]:
df_yahoo4 = df_yahoo2
# provide column names to the dataFrame (use the symbol and its value)
df_yahoo4.columns = ['Symbol', top4_stocks[0]]
# set the Symbol column as the index to the dataframe
df_yahoo4.set_index('Symbol', inplace=True)
# transpose dataframe to switch columns and rows
df_yahoo4 = df_yahoo4.transpose()
df_yahoo4

Symbol,Market Cap,Beta (3Y Monthly),PE Ratio (TTM),EPS (TTM),Earnings Date,Forward Dividend & Yield,Ex-Dividend Date,1y Target Est
ABMD,15.897B,1.47,73.34,4.81,"May 1, 2019 - May 6, 2019",N/A (N/A),NaN,435.10

In [157]:
# extract the PE Ratio (TTM) for the top stock
df_yahoo4['PE Ratio (TTM)'] = df_yahoo4['PE Ratio (TTM)'].astype(float)
# extract the EPS (TTM) for the top stock
df_yahoo4['EPS (TTM)'] = df_yahoo4['EPS (TTM)'].astype(float)
# extract the 1y Target Est for the top stock
df_yahoo4['1y Target Est'] = df_yahoo4['1y Target Est'].astype(float)
# determine the current stock price
curr_stock_price = df_yahoo4['PE Ratio (TTM)']*df_yahoo4['EPS (TTM)']
print(f"Current stock price is {curr_stock_price}")
# determine the retrun on investment comparing current stock price vs 1ys Target Est
stock_roi = ((df_yahoo4['1y Target Est'] - curr_stock_price) / curr_stock_price)*100
print(f"1year targer est is {df_yahoo4['1y Target Est']}")
print(f"Stock return on investment is {stock_roi}")

Current stock price is ABMD    352.7654
dtype: float64
1year targer est is ABMD    435.1
Name: 1y Target Est, dtype: float64
Stock return on investment is ABMD    23.339761
dtype: float64

In [158]:
# pick 3 random stocks in the same gics_sub_industry as the top stock
# filter dataset based on top stock's gics_sub_industry
df_wiki1_filtered = sandp_data[(sandp_data.gics_sub_industry==sub_industry1)]
# pick 3 random stocks in the same gics_sub_industry as the top stock 
df_wiki1_filtered_random = df_wiki1_filtered['symbol'].sample(n=3, random_state=1).reset_index(drop=True)
rand_list = df_wiki1_filtered_random.tolist()
print(rand_list)

['BAX', 'TFX', 'DHR']

In [159]:
# for each of the 3 random stocks that belong to the same gics_sub_industry as the top stock, determine the current price and return on investment comparing current stock price vs 1ys Target Est 
for item in rand_list:
    #define the site to fetch attributes for the stock
    site = f"https://finance.yahoo.com/quote/{item}"
    #parse the site into pandas table
    table = pd.read_html(site)
    df_yahoo = table[1]
    # provide column names to the dataFrame
    df_yahoo.columns = ['desc', 'value']
    # set the desc column as the index to the dataframe
    df_yahoo.set_index('desc', inplace=True)
    # transpose dataframe to switch columns and rows
    df_yahoo = df_yahoo.transpose()
    # extract the PE Ratio (TTM) for the stock
    df_yahoo['PE Ratio (TTM)'] = df_yahoo['PE Ratio (TTM)'].astype(float)
    # extract the EPS (TTM) for the stock
    df_yahoo['EPS (TTM)'] = df_yahoo['EPS (TTM)'].astype(float)
    # extract the 1y Target Est for the stock
    df_yahoo['1y Target Est'] = df_yahoo['1y Target Est'].astype(float)
    # determine the current stock price
    curr_stock_price = df_yahoo['PE Ratio (TTM)']*df_yahoo['EPS (TTM)']
    # extract the estimated stock price
    est_stock_price = df_yahoo['1y Target Est']
    print(type(est_stock_price))
    print(f"Symbol: {item} - Current stock_price is {curr_stock_price} and 1year targer est is {est_stock_price}")
    # determine the return on investment comparing current stock price vs 1ys Target Est
    stock_roi = ((df_yahoo['1y Target Est'] - curr_stock_price) / curr_stock_price)*100
    print(f"Symbol: {item} - 1year ROI is {stock_roi}")

<class 'pandas.core.series.Series'>
Symbol: BAX - Current stock_price is value    74.7086
dtype: float64 and 1year targer est is value    78.53
Name: 1y Target Est, dtype: float64
Symbol: BAX - 1year ROI is value    5.115074
dtype: float64
<class 'pandas.core.series.Series'>
Symbol: TFX - Current stock_price is value    284.635
dtype: float64 and 1year targer est is value    300.73
Name: 1y Target Est, dtype: float64
Symbol: TFX - 1year ROI is value    5.65461
dtype: float64
<class 'pandas.core.series.Series'>
Symbol: DHR - Current stock_price is value    113.4716
dtype: float64 and 1year targer est is value    115.29
Name: 1y Target Est, dtype: float64
Symbol: DHR - 1year ROI is value    1.602516
dtype: float64

In [162]:
sector_yony_df_all = pd.read_sql('select * FROM sector_yony_return;', con=conn)
sector_yony_df_all

,gics_sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998
0,Communication Services,7.75210,-0.95532,3.87828,2.69362,-4.485260,5.45959,30.7272,15.31080,18.547100,...,1.50147,17.84580,-6.269660,-1.71349,19.0859,-6.349030,7.66028,-10.81080,33.895400,10.022100
1,Consumer Discretionary,9.58005,-9.76499,13.98640,0.19791,-7.220620,19.00830,28.2927,18.66670,16.661200,...,-8.49657,14.11480,0.422550,11.72500,37.5249,-5.676740,29.35930,-5.38914,-0.233011,16.097100
2,Consumer Staples,6.00912,-7.20403,9.97805,-3.11335,7.960470,21.13600,19.3851,2.37331,12.719600,...,2.87439,14.50960,0.770894,8.37370,15.5945,-7.337810,1.10799,1.77983,-6.515780,17.184100
3,Energy,12.69990,-22.14380,-7.73368,35.68240,-24.434400,3.96515,22.3748,4.84012,20.905900,...,24.08880,2.11801,17.667500,14.80960,19.8235,0.753232,-11.04020,35.62690,9.880960,-12.182900
4,FAANG,13.37560,2.91675,36.18170,3.89422,29.351600,-13.54900,61.2711,28.09510,-0.072890,...,33.71110,19.46650,50.258300,38.79200,72.0713,5.902990,48.28480,-47.17360,62.399200,40.050300
5,Financials,9.45634,-18.20950,11.53190,19.22980,-3.111850,14.97450,32.0067,16.68530,23.949400,...,-8.53972,11.30400,8.949270,8.86890,21.3499,-11.804100,-2.98512,17.09850,2.381100,4.626660
6,Health Care,10.49250,1.44141,20.91910,-1.41993,5.530630,27.80590,28.4761,18.18800,17.555900,...,9.13710,16.12140,9.522170,7.73867,30.3436,-12.131200,3.44164,68.04260,9.632110,21.611600
7,Industrials,10.46010,-11.87560,18.63720,21.12390,-6.452680,18.78280,28.6762,18.89860,10.415500,...,4.35897,9.58742,-1.024390,11.64350,25.8254,-7.427010,15.46390,5.75231,4.533970,4.166380
8,Information Technology,10.40610,-3.51198,33.39940,22.27390,-0.850893,18.77180,27.6327,14.52820,13.304900,...,3.03773,14.88670,6.478640,1.35559,39.8984,-23.476900,27.01660,-22.89390,50.029900,22.153100
9,Materials,7.48167,-17.91520,13.06760,22.86010,-13.668100,13.31730,18.8095,20.93070,-0.710237,...,11.24820,19.76340,5.483260,10.98400,20.0874,0.926969,24.00660,-2.78825,-1.229260,-0.780127
10,Real Estate,14.07830,-3.37557,5.81272,7.66509,-3.648120,27.27800,-0.1300,16.55800,24.055500,...,-10.68580,31.17620,10.494900,19.89550,43.5147,-11.242600,12.67130,19.57280,-1.416480,1.314690
11,S&P,9.93639,-6.82874,14.78150,12.14740,-2.458430,15.20500,25.7492,15.24990,14.573200,...,5.05289,15.43880,8.956700,12.18260,30.4517,-7.516870,11.68110,7.73226,11.691800,10.993600
12,Utilities,7.44491,8.65305,17.71940,14.68130,-8.471920,25.50990,11.4687,7.92348,17.546000,...,-1.60083,14.37170,4.726960,13.71780,20.3012,-12.340300,-14.81350,33.97010,-23.056100,7.660190

In [163]:
sector_yony_df_all_dict = sector_yony_df_all.to_dict(orient='split')
sector_yony_df_all_dict

{'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 'columns': ['gics_sector',
  '2019',
  '2018',
  '2017',
  '2016',
  '2015',
  '2014',
  '2013',
  '2012',
  '2011',
  '2010',
  '2009',
  '2008',
  '2007',
  '2006',
  '2005',
  '2004',
  '2003',
  '2002',
  '2001',
  '2000',
  '1999',
  '1998'],
 'data': [['Communication Services',
   7.7521,
   -0.95532,
   3.87828,
   2.69362,
   -4.48526,
   5.45959,
   30.7272,
   15.3108,
   18.5471,
   9.36535,
   37.3663,
   -40.6102,
   1.50147,
   17.8458,
   -6.26966,
   -1.71349,
   19.0859,
   -6.34903,
   7.66028,
   -10.8108,
   33.8954,
   10.0221],
  ['Consumer Discretionary',
   9.58005,
   -9.76499,
   13.9864,
   0.19791,
   -7.22062,
   19.0083,
   28.2927,
   18.6667,
   16.6612,
   18.5192,
   53.2357,
   -32.5701,
   -8.49657,
   14.1148,
   0.42255,
   11.725,
   37.5249,
   -5.67674,
   29.3593,
   -5.38914,
   -0.233011,
   16.0971],
  ['Consumer Staples',
   6.00912,
   -7.20403,
   9.97805,
   -3.11335,
   7.96047,
   21.136,
   19.3851,
   2.37331,
   12.7196,
   6.43946,
   13.0568,
   -20.276,
   2.87439,
   14.5096,
   0.770894,
   8.3737,
   15.5945,
   -7.33781,
   1.10799,
   1.77983,
   -6.51578,
   17.1841],
  ['Energy',
   12.6999,
   -22.1438,
   -7.73368,
   35.6824,
   -24.4344,
   3.96515,
   22.3748,
   4.84012,
   20.9059,
   11.2854,
   38.534,
   -27.726,
   24.0888,
   2.11801,
   17.6675,
   14.8096,
   19.8235,
   0.753232,
   -11.0402,
   35.6269,
   9.88096,
   -12.1829],
  ['FAANG',
   13.3756,
   2.91675,
   36.1817,
   3.89422,
   29.3516,
   -13.549,
   61.2711,
   28.0951,
   -0.07289,
   44.0127,
   80.3973,
   -28.7157,
   33.7111,
   19.4665,
   50.2583,
   38.792,
   72.0713,
   5.90299,
   48.2848,
   -47.1736,
   62.3992,
   40.0503],
  ['Financials',
   9.45634,
   -18.2095,
   11.5319,
   19.2298,
   -3.11185,
   14.9745,
   32.0067,
   16.6853,
   23.9494,
   18.2079,
   46.2469,
   -44.0001,
   -8.53972,
   11.304,
   8.94927,
   8.8689,
   21.3499,
   -11.8041,
   -2.98512,
   17.0985,
   2.3811,
   4.62666],
  ['Health Care',
   10.4925,
   1.44141,
   20.9191,
   -1.41993,
   5.53063,
   27.8059,
   28.4761,
   18.188,
   17.5559,
   7.18158,
   36.2694,
   -25.9052,
   9.1371,
   16.1214,
   9.52217,
   7.73867,
   30.3436,
   -12.1312,
   3.44164,
   68.0426,
   9.63211,
   21.6116],
  ['Industrials',
   10.4601,
   -11.8756,
   18.6372,
   21.1239,
   -6.45268,
   18.7828,
   28.6762,
   18.8986,
   10.4155,
   15.7316,
   30.1322,
   -27.2089,
   4.35897,
   9.58742,
   -1.02439,
   11.6435,
   25.8254,
   -7.42701,
   15.4639,
   5.75231,
   4.53397,
   4.16638],
  ['Information Technology',
   10.4061,
   -3.51198,
   33.3994,
   22.2739,
   -0.850893,
   18.7718,
   27.6327,
   14.5282,
   13.3049,
   8.70983,
   49.1752,
   -40.0945,
   3.03773,
   14.8867,
   6.47864,
   1.35559,
   39.8984,
   -23.4769,
   27.0166,
   -22.8939,
   50.0299,
   22.1531],
  ['Materials',
   7.48167,
   -17.9152,
   13.0676,
   22.8601,
   -13.6681,
   13.3173,
   18.8095,
   20.9307,
   -0.710237,
   12.6562,
   44.2567,
   -27.718,
   11.2482,
   19.7634,
   5.48326,
   10.984,
   20.0874,
   0.926969,
   24.0066,
   -2.78825,
   -1.22926,
   -0.780127],
  ['Real Estate',
   14.0783,
   -3.37557,
   5.81272,
   7.66509,
   -3.64812,
   27.278,
   -0.13,
   16.558,
   24.0555,
   8.69742,
   55.9013,
   -14.3438,
   -10.6858,
   31.1762,
   10.4949,
   19.8955,
   43.5147,
   -11.2426,
   12.6713,
   19.5728,
   -1.41648,
   1.31469],
  ['S&P',
   9.93639,
   -6.82874,
   14.7815,
   12.1474,
   -2.45843,
   15.205,
   25.7492,
   15.2499,
   14.5732,
   13.2835,
   41.2218,
   -29.7477,
   5.05289,
   15.4388,
   8.9567,
   12.1826,
   30.4517,
   -7.51687,
   11.6811,
   7.73226,
   11.6918,
   10.9936],
  ['Utilities',
   7.44491,
   8.65305,
   17.7194,
   14.6813,
   -8.47192,
   25.5099,
   11.4687,
   7.92348,
   17.546,
   -1.40475,
   10.0899,
   -27.8035,
   -1.60083,
   14.3717,
   4.72696,
   13.7178,
   20.3012,
   -12.3403,
   -14.8135,
   33.9701,
   -23.0561,
   7.66019]]}

In [166]:
# Ranking of sectors based on most consistent performance over last 20 years
# get list of years for which rankings are required
year_s = list(sector_yony_df_all.columns.values)
year_s = year_s[1:]
rank_one = []
rank_two = []
rank_three = []
rank_four = []
rank_five = []
rank_six = []
rank_seven = []
rank_eight = []
rank_nine = []
rank_ten = []
rank_elevent = []
rank_twelve = []
rank_thirteen = []

#year_s = ['2019','2018']
# define an empty rank dictionary
# for each year perform ranking
for year in year_s:
    # create a filter and sort by descending value of year on year returns
    mylist = ['gics_sector',year]
    temporary_df = sector_yony_df_all[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    #print(temporary_df)
    temporary_df.loc[temporary_df['gics_sector'] == 'Energy', 'gics_sector'] = 'ENRS'
    temporary_df.loc[temporary_df['gics_sector'] == 'Materials', 'gics_sector'] = 'MATR'
    temporary_df.loc[temporary_df['gics_sector'] == 'Utilities', 'gics_sector'] = 'UTIL'
    temporary_df.loc[temporary_df['gics_sector'] == 'Information Technology', 'gics_sector'] = 'INFT'
    temporary_df.loc[temporary_df['gics_sector'] == 'Consumer Staples', 'gics_sector'] = 'CONS'
    temporary_df.loc[temporary_df['gics_sector'] == 'Industrials', 'gics_sector'] = 'INDU'
    temporary_df.loc[temporary_df['gics_sector'] == 'Communication Services', 'gics_sector'] = 'TELS'
    temporary_df.loc[temporary_df['gics_sector'] == 'Health Care', 'gics_sector'] = 'HLTH'
    temporary_df.loc[temporary_df['gics_sector'] == 'Consumer Discretionary', 'gics_sector'] = 'COND'
    temporary_df.loc[temporary_df['gics_sector'] == 'Real Estate', 'gics_sector'] = 'REAL'
    temporary_df.loc[temporary_df['gics_sector'] == 'Financials', 'gics_sector'] = 'FINL'
    #print(temporary_df)
    rank_one.append(temporary_df.iloc[0,0])
    rank_two.append(temporary_df.iloc[1,0])
    rank_three.append(temporary_df.iloc[2,0])
    rank_four.append(temporary_df.iloc[3,0])
    rank_five.append(temporary_df.iloc[4,0])
    rank_six.append(temporary_df.iloc[5,0])
    rank_seven.append(temporary_df.iloc[6,0])
    rank_eight.append(temporary_df.iloc[7,0])
    rank_nine.append(temporary_df.iloc[8,0])
    rank_ten.append(temporary_df.iloc[9,0])
    rank_elevent.append(temporary_df.iloc[10,0])
    rank_twelve.append(temporary_df.iloc[11,0])
    rank_thirteen.append(temporary_df.iloc[12,0])

In [167]:
rank_dict =  {
    1:rank_one,
    2:rank_two,
    3:rank_three,
    4:rank_four,
    5:rank_five,
    6:rank_six,
    7:rank_seven,
    8:rank_eight,
    9:rank_nine,
    10:rank_ten,
    11:rank_elevent,
    12:rank_twelve,
    13:rank_thirteen
}

In [168]:
json.dumps({
    1:rank_one,
    2:rank_two,
    3:rank_three,
    4:rank_four,
    5:rank_five,
    6:rank_six,
    7:rank_seven,
    8:rank_eight,
    9:rank_nine,
    10:rank_ten,
    11:rank_elevent,
    12:rank_twelve,
    13:rank_thirteen
},sort_keys=True)

'{"1": ["REAL", "UTIL", "FAANG", "ENRS", "FAANG", "HLTH", "FAANG", "FAANG", "REAL", "FAANG", "FAANG", "REAL", "FAANG", "REAL", "FAANG", "FAANG", "FAANG", "FAANG", "FAANG", "HLTH", "FAANG", "FAANG"], "2": ["FAANG", "FAANG", "INFT", "MATR", "CONS", "REAL", "FINL", "MATR", "FINL", "COND", "REAL", "CONS", "ENRS", "MATR", "ENRS", "REAL", "REAL", "MATR", "COND", "ENRS", "INFT", "INFT"], "3": ["ENRS", "HLTH", "HLTH", "INFT", "HLTH", "UTIL", "TELS", "INDU", "ENRS", "FINL", "COND", "HLTH", "MATR", "FAANG", "REAL", "ENRS", "INFT", "ENRS", "INFT", "UTIL", "TELS", "HLTH"], "4": ["HLTH", "TELS", "INDU", "INDU", "INFT", "CONS", "INDU", "COND", "TELS", "INDU", "INFT", "INDU", "HLTH", "TELS", "HLTH", "UTIL", "COND", "COND", "MATR", "REAL", "S&P", "CONS"], "5": ["INDU", "REAL", "UTIL", "FINL", "S&P", "COND", "HLTH", "HLTH", "HLTH", "S&P", "FINL", "MATR", "S&P", "HLTH", "S&P", "S&P", "S&P", "TELS", "INDU", "FINL", "ENRS", "COND"], "6": ["INFT", "INFT", "S&P", "UTIL", "FINL", "INDU", "COND", "FINL", "UTIL", "MATR", "MATR", "ENRS", "INDU", "S&P", "FINL", "COND", "HLTH", "CONS", "REAL", "S&P", "HLTH", "S&P"], "7": ["S&P", "S&P", "COND", "S&P", "REAL", "INFT", "INFT", "REAL", "COND", "ENRS", "S&P", "UTIL", "INFT", "INFT", "INFT", "INDU", "INDU", "INDU", "S&P", "INDU", "INDU", "TELS"], "8": ["COND", "CONS", "MATR", "REAL", "TELS", "S&P", "S&P", "TELS", "S&P", "TELS", "ENRS", "FAANG", "CONS", "CONS", "MATR", "MATR", "FINL", "S&P", "TELS", "CONS", "FINL", "UTIL"], "9": ["FINL", "COND", "FINL", "FAANG", "INDU", "FINL", "ENRS", "S&P", "INFT", "INFT", "TELS", "S&P", "TELS", "UTIL", "UTIL", "FINL", "UTIL", "REAL", "HLTH", "MATR", "COND", "FINL"], "10": ["TELS", "INDU", "CONS", "TELS", "COND", "MATR", "CONS", "INFT", "CONS", "REAL", "HLTH", "COND", "UTIL", "COND", "CONS", "CONS", "MATR", "FINL", "CONS", "COND", "MATR", "INDU"], "11": ["MATR", "MATR", "REAL", "COND", "UTIL", "TELS", "MATR", "UTIL", "INDU", "HLTH", "INDU", "INFT", "COND", "FINL", "COND", "HLTH", "ENRS", "HLTH", "FINL", "TELS", "REAL", "REAL"], "12": ["UTIL", "FINL", "TELS", "HLTH", "MATR", "ENRS", "UTIL", "ENRS", "FAANG", "CONS", "CONS", "TELS", "FINL", "INDU", "INDU", "INFT", "TELS", "UTIL", "ENRS", "INFT", "CONS", "MATR"], "13": ["CONS", "ENRS", "ENRS", "CONS", "ENRS", "FAANG", "REAL", "CONS", "MATR", "UTIL", "UTIL", "FINL", "REAL", "ENRS", "TELS", "TELS", "CONS", "INFT", "UTIL", "FAANG", "UTIL", "ENRS"]}'

In [169]:
exclude_list =  ['FAANG','Real Estate']
sector_df_excl_faang_rea = pd.read_sql('SELECT gics_sector,`2018`,`2017`,`2016`,`2015`,`2014`,`2013`,`2012`,`2011`,`2010`,`2009` FROM sector_yony_return where gics_sector NOT in ' + str(tuple(exclude_list)), con=conn)
sector_df_excl_faang_rea

,gics_sector,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,Communication Services,-0.95532,3.87828,2.69362,-4.485260,5.45959,30.7272,15.31080,18.547100,9.36535,37.3663
1,Consumer Discretionary,-9.76499,13.98640,0.19791,-7.220620,19.00830,28.2927,18.66670,16.661200,18.51920,53.2357
2,Consumer Staples,-7.20403,9.97805,-3.11335,7.960470,21.13600,19.3851,2.37331,12.719600,6.43946,13.0568
3,Energy,-22.14380,-7.73368,35.68240,-24.434400,3.96515,22.3748,4.84012,20.905900,11.28540,38.5340
4,Financials,-18.20950,11.53190,19.22980,-3.111850,14.97450,32.0067,16.68530,23.949400,18.20790,46.2469
5,Health Care,1.44141,20.91910,-1.41993,5.530630,27.80590,28.4761,18.18800,17.555900,7.18158,36.2694
6,Industrials,-11.87560,18.63720,21.12390,-6.452680,18.78280,28.6762,18.89860,10.415500,15.73160,30.1322
7,Information Technology,-3.51198,33.39940,22.27390,-0.850893,18.77180,27.6327,14.52820,13.304900,8.70983,49.1752
8,Materials,-17.91520,13.06760,22.86010,-13.668100,13.31730,18.8095,20.93070,-0.710237,12.65620,44.2567
9,S&P,-6.82874,14.78150,12.14740,-2.458430,15.20500,25.7492,15.24990,14.573200,13.28350,41.2218
10,Utilities,8.65305,17.71940,14.68130,-8.471920,25.50990,11.4687,7.92348,17.546000,-1.40475,10.0899

In [170]:
sector_df_excl_faang_rea

,gics_sector,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,Communication Services,-0.95532,3.87828,2.69362,-4.485260,5.45959,30.7272,15.31080,18.547100,9.36535,37.3663
1,Consumer Discretionary,-9.76499,13.98640,0.19791,-7.220620,19.00830,28.2927,18.66670,16.661200,18.51920,53.2357
2,Consumer Staples,-7.20403,9.97805,-3.11335,7.960470,21.13600,19.3851,2.37331,12.719600,6.43946,13.0568
3,Energy,-22.14380,-7.73368,35.68240,-24.434400,3.96515,22.3748,4.84012,20.905900,11.28540,38.5340
4,Financials,-18.20950,11.53190,19.22980,-3.111850,14.97450,32.0067,16.68530,23.949400,18.20790,46.2469
5,Health Care,1.44141,20.91910,-1.41993,5.530630,27.80590,28.4761,18.18800,17.555900,7.18158,36.2694
6,Industrials,-11.87560,18.63720,21.12390,-6.452680,18.78280,28.6762,18.89860,10.415500,15.73160,30.1322
7,Information Technology,-3.51198,33.39940,22.27390,-0.850893,18.77180,27.6327,14.52820,13.304900,8.70983,49.1752
8,Materials,-17.91520,13.06760,22.86010,-13.668100,13.31730,18.8095,20.93070,-0.710237,12.65620,44.2567
9,S&P,-6.82874,14.78150,12.14740,-2.458430,15.20500,25.7492,15.24990,14.573200,13.28350,41.2218
10,Utilities,8.65305,17.71940,14.68130,-8.471920,25.50990,11.4687,7.92348,17.546000,-1.40475,10.0899

In [171]:
# Ranking of sectors based on most consistent performance over last 20 years
# get list of years for which rankings are required
year_s2 = list(sector_df_excl_faang_rea.columns.values)
year_s2 = year_s2[1:]
rank_one2 = []
rank_two2 = []
rank_three2 = []
rank_four2 = []
rank_five2 = []
rank_six2 = []
rank_seven2 = []
rank_eight2 = []
rank_nine2 = []
rank_ten2 = []
rank_eleven2 = []

#year_s = ['2019','2018']
# define an empty rank dictionary
# # for each year perform ranking
for year in year_s2:
#     # create a filter and sort by descending value of year on year returns
    mylist = ['gics_sector',year]
    temporary_df2 = sector_df_excl_faang_rea[mylist].sort_values(by=[year],ascending=False).reset_index(drop=True)
    #print(temporary_df)
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Energy', 'gics_sector'] = 'ENRS'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Materials', 'gics_sector'] = 'MATR'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Utilities', 'gics_sector'] = 'UTIL'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Information Technology', 'gics_sector'] = 'INFT'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Consumer Staples', 'gics_sector'] = 'CONS'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Industrials', 'gics_sector'] = 'INDU'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Communication Services', 'gics_sector'] = 'TELS'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Health Care', 'gics_sector'] = 'HLTH'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Consumer Discretionary', 'gics_sector'] = 'COND'
    temporary_df2.loc[temporary_df2['gics_sector'] == 'Financials', 'gics_sector'] = 'FINL'
    #print(temporary_df)
    rank_one2.append(temporary_df2.iloc[0,0])
    rank_two2.append(temporary_df2.iloc[1,0])
    rank_three2.append(temporary_df2.iloc[2,0])
    rank_four2.append(temporary_df2.iloc[3,0])
    rank_five2.append(temporary_df2.iloc[4,0])
    rank_six2.append(temporary_df2.iloc[5,0])
    rank_seven2.append(temporary_df2.iloc[6,0])
    rank_eight2.append(temporary_df2.iloc[7,0])
    rank_nine2.append(temporary_df2.iloc[8,0])
    rank_ten2.append(temporary_df2.iloc[9,0])
    rank_eleven2.append(temporary_df2.iloc[10,0])
json.dumps({
    1:rank_one2,
    2:rank_two2,
    3:rank_three2,
    4:rank_four2,
    5:rank_five2,
    6:rank_six2,
    7:rank_seven2,
    8:rank_eight2,
    9:rank_nine2,
    10:rank_ten2,
    11:rank_eleven2,
},sort_keys=True)

'{"1": ["UTIL", "INFT", "ENRS", "CONS", "HLTH", "FINL", "MATR", "FINL", "COND", "COND"], "2": ["HLTH", "HLTH", "MATR", "HLTH", "UTIL", "TELS", "INDU", "ENRS", "FINL", "INFT"], "3": ["TELS", "INDU", "INFT", "INFT", "CONS", "INDU", "COND", "TELS", "INDU", "FINL"], "4": ["INFT", "UTIL", "INDU", "S&P", "COND", "HLTH", "HLTH", "HLTH", "S&P", "MATR"], "5": ["S&P", "S&P", "FINL", "FINL", "INDU", "COND", "FINL", "UTIL", "MATR", "S&P"], "6": ["CONS", "COND", "UTIL", "TELS", "INFT", "INFT", "TELS", "COND", "ENRS", "ENRS"], "7": ["COND", "MATR", "S&P", "INDU", "S&P", "S&P", "S&P", "S&P", "TELS", "TELS"], "8": ["INDU", "FINL", "TELS", "COND", "FINL", "ENRS", "INFT", "INFT", "INFT", "HLTH"], "9": ["MATR", "CONS", "COND", "UTIL", "MATR", "CONS", "UTIL", "CONS", "HLTH", "INDU"], "10": ["FINL", "TELS", "HLTH", "MATR", "TELS", "MATR", "ENRS", "INDU", "CONS", "CONS"], "11": ["ENRS", "ENRS", "CONS", "ENRS", "ENRS", "UTIL", "CONS", "MATR", "UTIL", "UTIL"]}'